@model List<InventoryApp.Models.TrafficCase>

<h2>Products</h2>
<a asp-controller="Products" asp-action="Create" class="btn btn-primary">Add New Product</a>
<!--<a asp-controller="Products" asp-action="DisplayRestock" class="btn btn-primary">Products to Restock</a>-->

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trafficCase in this.Model)
        {
        <tr>
            <td>@trafficCase.Id</td>
            <td>@trafficCase.Name</td>
            <td>@trafficCase.Date</td>
            <td>@trafficCase.Violation</td>
            <td>@trafficCase.License</td>
            <td>@trafficCase.Status</td>
            <td>
                <div class="row">
                    <div class="col-md-2">
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@trafficCase.Id" class="btn btn-info">Edit</a>
                    </div>
                    @*<div class="col-md-1">
                    <form asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>*@
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>